.myaccountcls{
  text-decoration: underline;
}

.nav-item-cls{
  color: black;
  font-size: 13px;
  font: normal normal medium 15px/18px Helvetica Neue;
}

.greeting-text{
  font: normal normal medium 15px/18px Helvetica Neue;
  letter-spacing: 0px;
  color: #474747;
  opacity: 1;
  font-weight:600;
}

