<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <div class="row mt-4 justify-content-center">
            <div class="col-sm-6">
              <a routerLink="homepage" class="s-shop-logo" routerLinkActive="avtive">
                <span class="rounded-circle border border-dark px-2 text-danger font-weight-bold h3">S</span> 
                <span class="h3 mx-2">Shop</span>
              </a>
            </div>
            <div class="col-sm-6">
              <div class="row justify-content-end">
                <div class="col-sm-6">
                  <form action="" #searchkeyform="ngForm" (ngSubmit)="searchkeysubmit(searchkeyform)">
                    <input type="search" name="searchkey" class="search-box form-control mt-4 d-inline"
                    placeholder="Search" aria-label="Search" #searchkey="ngModel" ngModel>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
