<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-sm-12">
      <hr color="black" style="height:6px;">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-10">
              <h3 class="login-title">Login</h3>
              <form class="mt-4" #myform="ngForm" (ngSubmit)="onClickSubmit()">
                <div class="form-group">
                  <label for="usernmae">Username(email)</label>

                  <input type="email" placeholder="Username" class="form-control"
                  minlength="5" required name="username" #uname="ngModel" [(ngModel)]="username" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  ngModel>
                  
                  <div *ngIf="uname.invalid && (uname.touched || myform.submitted)">
                    <div class="text-danger" *ngIf="uname.errors?.required">This field is required</div>
                    <div class="text-danger" *ngIf="uname.errors?.pattern">Enter valid email address</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="usernmae">Password</label>

                  <input type="password" placeholder="Password" class="form-control" minlength="8" required name="password" #upass="ngModel" [(ngModel)]="password"  ngModel>
                  
                  <div *ngIf="upass.invalid && (upass.touched || myform.submitted)">
                    <div class="text-danger"  *ngIf="upass.errors?.minlength">Minimum length should be of 8</div>
                    <div class="text-danger" *ngIf="upass.errors?.required">This field is required</div>
                  </div>
                </div>
                <input type="submit" value="Login" class="loginbtn" [disabled]="!myform.valid">
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10">
              <hr color="pink">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-6 text-right mt-1">
                  <h5 class="login-with-title">Login with</h5>
                </div>
                <div class="col-sm-6">
                  <a (click)="googleLogin()"> <i class="fab fa-google social-login px-2"></i> </a>
                  <a (click)="facebookLogin()"> <i class="fab fa-facebook social-login"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="loginloader">
    <div class="col-sm-12 text-center">
      <div class="loader"></div>
    </div>
  </div>
</div>