<!--<div class="container-fluid" *ngIf="singleUSerCartProducts.length != 0">-->
<div class="container-fluid" *ngIf="singleUSerCartProducts.length!=0 && !removeItemLoader">
  <div class="row mt-3">
    <div class="col-sm-12">
      <hr color="black" style="height:6px;">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <div class="row justify-content-center text-center"> 
            <div class="col-sm-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Product</th>
                    <th scope="col">Remove from cart</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of singleUSerCartProducts; let i=index">
                      <th *ngIf="data">{{data.s_no}}</th>
                      <th *ngIf="data" scope="row">{{data.sub_pname}}</th>
                      <td *ngIf="data">{{data.sub_pprice}}</td>
                      <td *ngIf="data"> <img src="{{data.sub_pimage}}" height="200" alt=""> </td>
                      <td *ngIf="data"> 
                        <button type="button" (click)="removeItem(data.sub_p_id)" class="remove-single-item-btn" >Remove</button> 
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <hr color="pink">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <div class="row justify-content-center text-center"> 
            <div class="col-sm-4 text-left">
              <button type="button" (click)="removeAllItems()"  class="remove-all-items-btn">Remove all items</button>
            </div>
            <div class="col-sm-4">
              <label for="" class="text-primary h4">Grand total : </label> 
              <span class="h4 text-success"> Rs. {{gtotal}}</span>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-danger w-100">Checkout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" *ngIf="shopNowMsg">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-sm-12">
        <hr color="black" style="height:6px;">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="row justify-content-center text-center mb-2">
          <h1><i class="fas fa-dolly-flatbed-empty fa-5x border border-dark
          rounded-circle p-5"></i></h1>
        </div>
        <div class="row text-center justify-content-center mb-2">
          <div class="col-sm-8">
            <h4>Your cart is empty</h4>
          </div>
        </div>
        <div class="row text-center justify-content-center">
          <div class="col-sm-8">
            <button type="button" class="shop-now-btn bg-primary"
            routerLink="/phonepage" routerLinkActive="active">Shop now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="containr-fluid" *ngIf="removeItemLoader"> 
  <div class="row text-center justify-content-center mt-5">
    <div class="col-sm-3 mt-5">
      <h1 class="loader" style="margin-top:50%;"></h1>
    </div>
  </div>
</div>






