<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-sm-12">
      <hr color="black" style="height:6px;">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6 mt-4">
          <div class="row">
            <div class="col-sm-8 rounded profile-container-cls border border-dark mx-2 pb-3">
                <div class="row">
                  <div class="col-sm-12 text-center mt-3">
                    <i *ngIf="!availDetail" class="fas fa-user-circle fa-10x"></i>
                    <img *ngIf="availDetail" src="{{sphotoUrl}}" class="rounded-circle img-thunbnail img-fluid" style="height:170px;" alt="">
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-12">
                    <span *ngIf="!availDetail" class="mr-3 font-weight-bold h4">{{cuserfullname | titlecase}}</span>
                    <span *ngIf="availDetail" class="mr-3 font-weight-bold h4">{{sname}}</span>
                    
                    <span *ngIf="!availDetail" class="text-info" style="font-size:12px;">
                      <i class="fas fa-map-pin"></i> {{cuserstate | titlecase }}, {{cusercountry | titlecase}}
                    </span>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-info btn-sm">About</button>
                    <button type="button" class="btn btn-sm ml-5">History</button>
                    <hr color="pink">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="">
                      <span class="font-weight-bold">Phone: </span> 
                      <span *ngIf="!availDetail">+91-{{cuserphone}}</span>
                    </div>
                    <div class="mt-2">
                      <span class="font-weight-bold">Email: </span> 
                      <span *ngIf="!availDetail" >{{cuseremail}}</span>
                      <span *ngIf="availDetail" >{{semail}}</span>
                    </div>
                  </div>
                </div>
                <div class="row my-4">
                  <div class="col-sm-12">
                    <a routerLink="/updateinfopage/{{cuserid}}/edit" routerLinkActive="active"
                    class="personal-detail-editbtn-cls">Edit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-sm-6 mt-4">
          <div class="row justify-content-end">
            <div class="col-sm-8 border border-info rounded mx-2">
              <div class="row">
                <div class="col-sm-10 font-weight-bold">
                  Current delivery address :
                </div>
                <div class="col-sm-2 mt-2">
                  <a routerLink="/updateinfopage/{{cuserid}}/address"><span><i class="far fa-map-marker-edit fa-2x"></i></span></a>
                </div> 
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <span>{{cuseraddress}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end mt-4">
            <button type="button" class="myorders personal-detail-editbtn-cls">My orders</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>